
<label>Server Name</label>
<!-- <input type="text"
class="form-control"
(input)="onUpdateServerName($event)"/> -->

<input type="text"
class="form-control"
[(ngModel)]="serverName"/>
<!-- <p>{{serverName}}</p> -->

<button
 class="btn btn-primary"
 [disabled]="!allowNewServer"
 (click)="onCreateServer()">Add Server</button>

 <!-- <p [innerText]="serverCreationStatus"></p> -->
 <p *ngIf="serverCreated; else noServer">Server was created, server name is {{serverName}}</p>
<app-server *ngFor="let server of servers"></app-server>