<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit();" #form="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="email" 
            name="email"
            class="form-control"
            required 
            ngModel/>

          <label for="subscription">Select Subscription</label>
          <select 
            ngModel="advanced" 
            name="subscription"
            class="form-control">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>

          <label for="password">Password</label>
          <input 
            type="password"
            name="Password"
            class="form-control"
            required
            ngModel/>
        </div>
        <button type="submit" class="btn btn-primary">Submit Form</button>
      </form>
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
</div>
